input[type=number]::-webkit-inner-spin-button { 
  -webkit-appearance: none;
  
}
input[type=number] { 
 -moz-appearance: textfield;
 appearance: textfield;

}
.input{
  height: 2rem;
  border-bottom: solid 0.02rem;
  padding: 0;
  padding-top: 0.5rem;
  font-size: large;
  margin-right: 2rem;
}
.lista-produtos {
  margin-top: 2rem;
}
#botao {
  display: flex;
  font-size: initial;
  background: rgba(122, 58, 240, 0.39);
  color: black
}

.scroll {
  width: 90%;
}
tr {
  border-bottom: 0.01rem solid #cbd2dae1;
}
table{
  width: 100%;
  border: 0.05rem solid;
}

thead {
  background: whitesmoke;
  border: 0.05rem solid;
}
tbody {
  border: 0.09rem solid;
  background: rgba(219, 236, 255, 0.89);
}